/* Varibles */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  width: 100%;
  height: 700px;
  line-height: 1.7;
  color: white;
  /* background-image: url("https://i.postimg.cc/DZKtNRMF/zadanie-golden-1440.jpg");
    background-size: cover;
    background-repeat: no-repeat;*/
}

.navigation a {
  text-decoration: none;
  padding: 0;
}

section {
  margin: 50px 0;
}

.btn {
  position: relative;
  display: inline-block;
  min-width: 250px;
  padding: 20px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-size: 300%;
  transition: all 1s;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 100px;
}

h4 {
  font-size: 20px;
  margin: 20px 0 10px 0;
  font-family: "Inconsolata", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Noto Serif", serif;
  margin: auto;
  color: #979393;
}

/* Navigation */
.navigation {
  padding: 40px 0 16px 0;
  background-image: url("https://i.postimg.cc/sxR2HsQs/navigation.jpg");
  background-position: top;
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.navbar-brand {
  color: black;
  padding-left: 90px;
}

.navbar-brand a {
  font-size: 28px;
  line-height: 1.2;
  color: gold;
  font-family: "Pacifico", cursive;
}

/* 1 level */
.nav-menu {
  padding: 0;
  margin: 0;
  font-size: 18px;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  float: right;
}

.nav-menu a {
  color: white;
  text-transform: uppercase;
  margin: 10px 0;
  padding: 20px 18px;
}

.nav-menu li {
  position: relative;
  display: inline-block;
}

.nav-menu a:hover {
  color: gold;
}

.nav-menu li ul {
  position: absolute;
  display: none;
  background: gold;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.nav-menu li:hover ul {
  display: block;
  margin: 5px;
  padding: 2px;
  padding-top: 5px;
}

/* 2 level */
.nav-menu ul li {
  display: block;
  margin: 5px;
}

.nav-menu ul li a {
  display: block;
  color: black;
  padding: 0 10px;
}

.navigation li ul a:hover {
  color: #979393;
}

/* Header */
header {
  position: relative;
  height: 625px;
  padding-top: 175px;
  background-image: url("https://i.postimg.cc/YqRS8cpB/home.jpg");
  background-position: top;
  background-size: cover;
  background-position: center;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.header-text {
  text-align: center;
}

.header-text h3 {
  font-family: "Noto Serif", serif;
  font-size: 40px;
  margin: 0;
}

.header-text h1 {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 78px;
  margin: 0;
}

/* Header button */
.btn-one {
  text-transform: uppercase;
  font-weight: 700;
  background-position: 100% 0;
  background-image: linear-gradient(90deg, white 50%, gold 50%);
  color: white;
  margin-top: 10px;
}

.btn-one:hover {
  background-position: 0 100%;
  color: #202020;
}

/* Services */
.services {
  color: #202020;
  /*font-family: $font-menu;*/
  text-align: center;
}

.services h2 {
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 100px;
}

.services .row {
  margin: 0 40px;
}

.serv-item {
  padding: 0 30px;
}

.serv-item p {
  text-align: justify;
}

.serv-sign {
  width: 70px;
  height: 70px;
  border: 5px solid;
  border-color: gold;
  border-radius: 35px;
  margin: auto;
  margin-top: 70px;
}

.serv-sign i {
  color: gold;
  padding-top: 15px;
  font-size: 30px;
}

/* Portfolio */
.portfolio {
  background-color: #f5efef;
  padding-bottom: 100px;
}

.grid {
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(auto-fill, minmax(290px, auto));
  grid-gap: 30px;
}

.port-item {
  background-color: white;
}

.port-item h4 {
  margin: 0px;
}

.port-item p {
  padding-bottom: 15px;
}

.port-item img {
  width: 100%;
}

/* Footer */
footer {
  padding: 10px 0;
  display: flex;
  bottom: 0;
  font-size: 12px;
}

footer .row {
  text-align: center;
  margin: 10px 0;
  color: #202020;
}

footer .row p {
  padding-top: 15px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 10px 0;
}

footer li {
  position: relative;
  display: inline-block;
  font-size: 0;
}

footer i {
  font-size: 30px;
  padding: 0 2px;
  color: #202020;
}

@media (max-width: 767px) {
  .nav-menu {
    font-size: 8px;
  }
  footer div {
    text-align: center;
  }
  footer .row div {
    padding: 0;
    margin: 0;
  }
  footer div:first-child {
    order: -1;
  }
  footer div:first-child {
    order: 1;
  }
  footer div ul {
    padding: 2px 0;
  }
  footer div p {
    margin: 2px 0;
  }
}
